<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />
		{! Link.base = ""; /* all generated links will be relative to this */ !}
		<title>JsDoc Reference - File Index</title>
		<meta name="generator" content="JsDoc Toolkit"/>

        <link rel="stylesheet" href="static/{+JSDOC.opt.D.cssFile+}" type="text/css" media="screen" charset="utf-8" />
		
		<!-- pub:메뉴리스트 토글(아코디언) -->
		<script src="static/jquery-1.12.4.min.js"></script>
		<script>		
			$(document).ready(function(){
				$('#index > h2').eq(0).addClass('active');
				$('#index > ul.classList').eq(0).css('display','block');
				$('#index > h2').click(function(){
					$(this).toggleClass('active').next('.classList').slideToggle();
				});
			});
		</script>
		
	</head>
	
	<body>
		{+include("header.html")+}
		
		<!--기존 메뉴 리스트 삭제
		<div id="index">
            <div id="docs">
                {+publish.docsIndex+}
            </div>
			{+publish.classesIndex+}
		</div>
		-->
		
		<!--// pub:메뉴리스트 -->
		<div id="index">
            <div id="docs" class="area_logo">
                <span>
					<img src="static/img_logo.png" alt="logo" title="페이지이동">KDB
				</span>					
            </div>
			
			<h2>Index</h2>
			<ul class="classList">
			  <li><a href="files.html">File Index</a></li>
			  <li><a href="index.html">Class Index</a></li>
			  <li><a href="symbolindex.html">Symbol Index</a></li>
			</ul>

			<h2>Classes</h2>
			<ul class="classList">				
				<li><a href="symbols/global.html">global</a></li>				
				<li><a href="symbols/_gc.html">_gc</a></li>				
				<li><a href="symbols/Date.html">Date</a></li>
				
			</ul>
			<hr>
		</div>
		<!-- pub:메뉴리스트 //-->
		
		<div id="content">
			<h1 class="classTitle">File Index</h1>
			
			<for each="item" in="data">
			<div class="member">
				<h2>{+new Link().toSrc(item.alias).withText(FilePath.fileName(item.name))+}</h2>
				<span>src path : </span>
				<b>{+item.name+}</b>
				<if test="item.desc">{+resolveLinks(item.desc)+}</if>
				<dl>
					<if test="item.author">
						<dt class="heading">Author:</dt>
						<dd>{+item.author+}</dd>
					</if>
					<if test="item.version">
						<dt class="heading">Version:</dt>
							<dd>{+item.version+}</dd>
					</if>
					{! var locations = item.comment.getTag('location').map(function($){return $.toString().replace(/(^\$ ?| ?\$$)/g, '').replace(/^HeadURL: https:/g, 'http:');}) !}
					<if test="locations.length">
						<dt class="heading">Location:</dt>
							<for each="location" in="locations">
							<dd><a href="{+location+}">{+location+}</a></dd>
							</for>
					</if>
				</dl>
			</div>
			</for>
			
            <hr />
		</div>
		<div class="fineprint" style="clear:both;text-align:center">
			<if test="JSDOC.opt.D.copyright">&copy;{+JSDOC.opt.D.copyright+}<br /></if>
			Documentation generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blankt">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}
		</div>
	</body>
</html>
